/* ================= BASE ================= */
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Segoe UI', 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
}

/* ================= Safe Area ================= */
:root {
    --bottom-nav-height: 72px;
    --safe-top: env(safe-area-inset-top);
    --safe-bottom: env(safe-area-inset-bottom);
}

/* „Õ ÊÏ «·’›Õ«  */
.page-content {
    padding-bottom: calc(var(--bottom-nav-height) + var(--safe-bottom));
}

.page,
.home-page,
.semesters-page,
.settings-page {
    padding-top: var(--safe-top);
}

/* ================= Links & Buttons ================= */
a, .btn-link {
    color: #006bb7;
    text-decoration: none;
}

/* ================= Validation ================= */
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

/* ================= Blazor Error ================= */
#blazor-error-ui {
    display: none;
}

/* ================= iOS Safe Area Helper ================= */
.status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }
}

/* ================= Loader ================= */
.app-loading {
    position: fixed;
    inset: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loading-text {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    background: linear-gradient(90deg, #1e3a8a, #2563eb, #38bdf8, #1e3a8a);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textFade 2s ease-in-out infinite;
}

@keyframes textFade {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
}
