@using Microsoft.AspNetCore.Components.Authorization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <ResourcePreloader />

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@0..1" rel="stylesheet" />

    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["lib/auth.css"]" />
    <link rel="stylesheet" href="@Assets["lib/home.css"]" />


    <ImportMap />
    <link rel="icon" type="image/png" href="appicon.jpg" />
    <HeadOutlet />
</head>

<body>
    <CascadingAuthenticationState>
        <Routes />
    </CascadingAuthenticationState>

    <ReconnectModal />

    <script src="auth.js"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
