<nav class="bottom-nav">

    <NavLink href="/Archive" class="nav-item" Match="NavLinkMatch.All">
        <span class="material-symbols-outlined">archive</span>
        <span>الأرشيف</span>
    </NavLink>

    <NavLink href="/Statistics" class="nav-item">
        <span class="material-symbols-outlined">bar_chart</span>
        <span>الإحصائيات</span>
    </NavLink>

    <NavLink href="/Students" class="nav-item">
        <span class="material-symbols-outlined">school</span>
        <span>الطلاب</span>
    </NavLink>

    <NavLink href="/Semesters" class="nav-item">
        <span class="material-symbols-outlined">calendar_month</span>
        <span>السيمسترات</span>
    </NavLink>

    <NavLink href="/Settings" class="nav-item">
        <span class="material-symbols-outlined">settings</span>
        <span>الإعدادات</span>
    </NavLink>

</nav>
