<HeadContent>
    <title>SmartGrades</title>

    <link rel="preload" href="images/logo.jpg" as="image" />
    <link rel="preload" href="images/rocket.jpg" as="image" />

    <link rel="stylesheet" href="lib/home.css?v=1" />
    <link rel="stylesheet" href="lib/bottomnav.css?v=1" />
    <link rel="stylesheet" href="lib/settings.css?v=1" />
    <link rel="stylesheet" href="lib/semesters.css?v=1" />
    <link rel="stylesheet" href="lib/SemesterSubjects.css?v=1" />
    <link rel="stylesheet" href="lib/auth.css?v=1" />
</HeadContent>
