<HeadContent>
    <title>SmartGrades</title>

    <link rel="preload" href="images/logo.jpg" as="image" />
    <link rel="preload" href="images/rocket.jpg" as="image" />

    <link rel="stylesheet" href="lib/home.css" />
    <link rel="stylesheet" href="lib/bottomnav.css" />
    <link rel="stylesheet" href="lib/settings.css" />
    <link rel="stylesheet" href="lib/semesters.css" />
    <link rel="stylesheet" href="lib/SemesterSubjects.css" />
    <link rel="stylesheet" href="lib/auth.css" />
</HeadContent>
