@page "/"
@layout AuthLayout
@rendermode InteractiveServer

<div class="register-box">

    <!-- ICON / LOGO -->
    <div class="media-box">
        <img src="images/loginpic.png" alt="معهد الجبل العالي" />
    </div>

    <!-- TITLE -->
    
    <p style="font-size:14px;color:#9ca3af;margin-bottom:26px">
        تسجيل الدخول للطلبة
    </p>

    <!-- REGISTRATION NUMBER -->
    <div class="field">
        <label>أدخل رقم القيد لهذا السيم</label>
        <input placeholder="أدخل رقم القيد الخاص بك"
               maxlength="20" />
    </div>

    <!-- BUTTON -->
    <button>
        تسجيل الدخول
    </button>

    <!-- NOTES (OPTIONAL) -->
    <div class="field optional-note">
        <label>في حال واجهتك مشكلة</label>
        <textarea placeholder="اكتب ملاحظتك هنا ..."
                  rows="3"></textarea>

        <button type="button" class="note-btn">
            إرسال الملاحظة
        </button>
    </div>


</div>
